[submodule "modules/columnflow"]
	path = modules/columnflow
	url = https://github.com/columnflow/columnflow.git
	branch = master
[submodule "modules/cmsdb"]
	path = modules/cmsdb
	url = git@github.com:eander63/cmsdb.git
	branch = azh_run3
[submodule "modules/muonscarekit"]
	path = modules/muonscarekit
	url = https://gitlab.cern.ch/cms-muonPOG/muonscarekit.git
