[submodule "modules/columnflow"]
	path = modules/columnflow
	url = git@github.com:eander63/columnflow.git
	branch = main
[submodule "modules/cmsdb"]
	path = modules/cmsdb
	url = git@github.com:eander63/cmsdb.git
	branch = azh_neu
